*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 400;
}

:root{
    --cor1:#878787;
    --cor2:#202022;
    --cor3:#CACACA;
    --cor4:#00747C;
    --cor5:#00BBC9;
}


body {
  background-color: var(--cor3);
  display: flex;
  align-items: center;
  justify-content: center;
}

header, #Drawer {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor2);
    color: var(--cor3);
    text-align: center;
    padding: 5px 0;
    overflow: auto;
}

#Drawer{
    display: none;
    justify-content: space-evenly;
    top: 47px;
    flex-wrap: wrap;
}


header>#btnDrawer{
    position: absolute;
    left: 0;
}

header>#btnDrawer>button{
    font-size: 1.5em;
}

.btnNav{
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgba(255, 255, 255, 0.678);
    color: var(--cor2);
    width: 70vw;
    min-height: 50vh;
    max-height: 50vh;
    padding: 10px;
    border: 1px solid var(--cor1);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
    overflow: auto;
}

select,
input[type="number"], #btnVendas {
    width: 90%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

#btnVendas:hover{
    color: var(--cor5);
}

button {
    background-color: var(--cor2);
    color: var(--cor3);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.btnNav:hover{
    border: 1px solid var(--cor1);
    box-shadow: 0px 0px 10px var(--cor1);
    color: var(--cor5);
}

#controle-estoque, #gerenciamento-clientes, #analise-desempenho{
    display: none;
}

#registro-vendas, #controle-estoque, #gerenciamento-clientes, #analise-desempenho{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registro-vendas>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 7px;
}

thead{
    background-color: var(--cor2);
    color: var(--cor1);
}

td{
    background-color: var(--cor3);
    color: black;
    font-weight: 500;
    
}
